./file-compressor/target
./file-compressor/Cargo.lock

## run to clear untrack cargo lock and target before pushing to gh
# git rm --cached Cargo.lock 
# git rm --cached target 

# Rust build artifacts 
**/target/
**/exercises/progress.db

# OS files
**/.DS_Store
**/Thumbs.db

# IDE/editor files
**/.idea/
**/.vscode/

# Backup files
**/*~
**/#*#
